.nav{
    background-color: #013042;
}

.wrap{
   background-color: #013042;
}

.icon{
    color: red
}

.all{
    background-color: #013042;
    padding-left: 3%;
    padding-right: 3%;
    border-bottom: 3px solid #51B74B;
}

