.side{
    margin-top: 5%;
    padding-top: 1%;
    background-color : #FFFAFB; 
    color : black; 
    text-align: center;
    position: absolute;
    width: 20%;
}
.side a{
    color : black;
}

.side li{
    margin-bottom: 10%
}

.side ul{
    padding: 10%;
}