

.btn{
    padding: 0rem
}


.form{
    padding: 0px;
    position: absolute; 
    width: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-70%);
}

/* .bod{
    overflow: hidden;
    height: 100vh;
} */

.login-container{
    /* background-color: #013042; */
    background-image: linear-gradient(to bottom left, rgb(24, 80,21),#013042, #00202c);
    /* #00202c   #001016  #000d11 #51B74B*/
    position: absolute;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100vh;
}
.innerForm{
    background-color: white;
    /* background-image: linear-gradient(to bottom left, rgb(24, 80,21),#013042, #00202c); */
    /* #00202c   #001016  #000d11 #51B74B*/
    border-radius: 4%;
}

.logo{
    width: 90%;
    margin-top: 2%;
}

.button{
     margin-bottom:25%; 
     width: 25%;
     /* color: white; */
     padding-left: 3%;
     padding-right: 3%;
}
.button:hover{
    padding-left: 4%;
    padding-right: 4%;
}
.icons{
    color: transparent;
}



#particles canvas{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

@media only screen and (max-width : 1200px){
    .form{
        width: 35%;
    }
}

@media only screen and (max-width : 1024px){
    .form{
        width: 45%;
    }
}

@media only screen and (max-width : 768px){
    .form{
        width: 60%;
    }
}

@media only screen and (max-width : 480px){
    .form{
        width: 80%;
    }
}