.full{
    margin-left: 10%;

}

@media only screen and (max-width : 1200px){
    .container{
        padding-left: 12%;
    }
}

@media only screen and (max-width : 1024px){
    .container{
        padding-left: 15%;
    }
}

@media only screen and (max-width : 994px){
    .name{
        margin-top: 5%;
    }
    .full{
        margin-left: 0px;
    }
    .sidenav{
        display: none;
    }

    .row .col.offset-s2 {
        margin-left:0;
    }
}
@media only screen and (max-width :448px) {
    .container{
        padding-left: 5%;
        width: 100%;
    }
    .row .col.offset-s2 {
        margin-left: 7%;
    }
}