/* .lis{
    margin-top: 4.7%;
    padding-top: 7%;
    background-color: #FFFAFB;
    color : white;
    text-align: center;
} */

.image{
    width: 60%
}
.color{
    color: black;
}

.name{
    padding-top: 7%;
}

@media only screen and (max-width : 1200px){
    
}

